<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="hostname" value="http://localhost:4300/"/>
		<add key="guid" value="1111"/>
		<add key="productId" value="=2323"/>
		<add key="moduleId" value="4545"/>
		<add key="clientId" value="6767"/>
	</appSettings>
</configuration>